<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EdgemoTicketSystem.Properties.Settings.connString"
            connectionString="Server=localhost;Database=edgemo180627;Integrated Security=True;" />
    </connectionStrings>
</configuration>